body {
    margin: 0;
    padding: 0;
    font-family: 'ABeeZee', sans-serif;
}

/* Header bar */
.top-bar {
    display: flex;
    position: sticky;
    top: 0px;
    background-image:url(./image1/background\ light.jpg) ;
    height: 70px;
    align-items: center;
}

.logo-text {
    flex: 1;
    width: 100px;
}

.logo-text p {
    font-family: 'Dancing Script', cursive;
    color: rgb(212, 5, 74);
    font-size: 20px;
    font-weight: bold;
    width: 100px;
    text-align: center;
}

.link-to-pages a { 
    font-family: 'Dancing Script', cursive;
    color: rgb(212, 5, 74);
    font-size: 23px;
    font-weight: bold;
    text-decoration: none;
    padding: 0 40px;
}

.link-to-pages a:hover {
    text-decoration: underline;
    color: #333;
}

#page-logo:hover {
    opacity: 0.6;
}

/* Picture & name of recipe */
.recipe-image {
    margin: 30px 0;
    text-align: center;
}

.recipe-image img {
    border-radius: 25px;
    width: 600px;
}

h1 {
    text-align: center; 
    font-size: 40px;
}

h1 + p {
    text-align: center;
    width: 50%;
    margin: 20px auto;
}

/* Cooking contents */
.main-part {
    display: flex;
    justify-content: space-around;
}

.main-part > div {
    border: 1.5px rgb(212, 5, 74) solid;
    border-radius: 15px;
    flex-basis: 30%;
    margin: 40px 0;
    background-image: url(./image1/background\ light.jpg);
    padding-left: 10px;
}

/* First column of cooking contents */
.clock-pic img {
    border-radius: 15px;
}

.cooking-time {
    display: flex;
    align-items: flex-end;
}

.cooking-time div {
    flex-basis: 30%;
    margin-left: 20px;
}

.time td {
    font-size: 20px;
}

.time-number {
    color: #cf0f16;
    font-weight: bold;
}

.allergy {
    font-weight: bold;
    padding-right: 15px;
}

/* Second column of cooking contents */
.box-2 img {
    border-radius: 15px;
}

/* Third column of cooking contents */
ol li {
    padding: 2px;
} 

/* Rating and sharing part */
.rating-sharing {
    display: flex;
    align-items: center;
    background-image: url(./image1/background\ light.jpg);
}

/* Rating */
.container-1 {
    position: relative;
    margin: 0;
    padding: 30px 0 50px 20px;
    width: 400px;
}

.container-1 .post {
    display: none;
}

.container-1 .text {
    font-size: 25px;
    color: rgb(5, 68, 97);
    font-weight: 500;
}

.container-1 .edit {
    position: absolute;
    right: 360px;
    top: 70px;
    font-size: 16px;
    color: #666;
    font-weight: 500;
    cursor: pointer;
}

.container-1 .edit:hover {
    text-decoration: underline;
}

.rating-text {
    position: relative;
    color: black;
    margin-left: 5px;
}

.rating {
    position: absolute;
    display: flex;
    width: 400px;
    margin: 30px 0 0 30px;
    transform: translate(-50%,-50%) rotateY(180deg);
}

.rating input {
    display: none;
}

.rating label {
    display: block;
    cursor: pointer;
    width: 50px;
}

.rating label:before {
    content: "\f005";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: relative;
    display: block;
    font-size: 30px;
    color: #4d4646;
}

.rating label:after {
    content: "\f005";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    display: block;
    font-size: 30px;
    color: #f1d03b;
    top: 0;
    opacity: 0;
    transition: .5s;
    text-shadow: 0 2px 5px rgba(0,0,0,.5);
}

.rating label:hover:after,
.rating label:hover ~ label:after,
.rating input:checked ~ label:after{
    opacity: 1;
}

form .btn { 
    height: 45px;
    width: 50%;
    margin: 80px 0 0 5px;
}

form .btn button {
    height: 100%;
    width: 50%;
    border: 0;
    border-radius: 10px;
    outline: none;
    background-color: #345995;
    color: white;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

form .btn button:hover {
    background-color: #F46036;
    transition: all 0.3s ease-out;
}

/* Sharing */
.fa {
    padding: 15px;
    font-size: 40px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    margin: 20px 5px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-pinterest {
    background: #cb2027;
    color: white;
}

/* Footer */
footer{
    text-align: center;
    margin-bottom: 10px;
}

nav a {
    font-size: 20px;
    margin: 20px;
}

.fa-facebook-square {
    background: white;
    color: rgb(26, 18, 18);
}

.fa-instagram-square {
    background: white;
    color: rgb(26, 18, 18);
}

.fa-twitter-square {
    background: white;
    color: rgb(26, 18, 18);
}

.fa-envelope {
    background: white;
    color: rgb(26, 18, 18);
}

/* Responsive for iPhone */
@media (max-width: 550px) {
    
    /* Header bar */
    .logo-text {
        width: 100%;
    }

    .logo-text p {
        font-size: 15px;
        width: 50px;
    }

    .link-to-pages a { 
        font-size: 15px;
        padding: 0;
    }

    nav a {
        margin: 5px;
    }

    /* Recipe image */
    .recipe-image img {
        width: 70%;
    }

    h1 {
        font-size: 20px;
    }
    
    h1 + p {
        font-size: 15px;
    }

    /* Contents */
    .main-part {
        flex-direction: column;
    }   

    .main-part > div {
        margin: 20px 0;
        flex-basis: 20%;
    }

    .box-2 img {
        width: 100%;
    }

    /* Rating & sharing */
    .rating-sharing {
        flex-direction: column;
    }

    .container-1 {
        margin-left: 100px; 
    }

} 

/* Responsive for iPad */
@media (min-width: 551px) and (max-width: 768px) {
    
    /* Header bar */
    .logo-text {
        width: 100%;
    }

    nav a {
        margin: 0;
    }

    /* Recipe image */
    .recipe-image {
        width: 100%;
    }

    /* Contents */
    .main-part {
        flex-direction: column;
    }   

    .main-part > div {
        margin: 20px 0;
        flex-basis: 20%;
    }
    
    /* Rating & sharing */
    .rating-sharing {
        width: 100%;
        flex-direction: column;
    }

    .container-1 {
        margin-left: 100px; 
    }
}