* {
    box-sizing: border-box; 
} 
body {
    margin: 0;
    padding: 0;
    font-family: 'ABeeZee', sans-serif;
}

.logo-text {
    flex: 1;
    width: 100px;
}

.logo-text p {
    font-family: 'Dancing Script', cursive;
    color: rgb(212, 5, 74);
    font-size: 20px;
    font-weight: bold;
    width: 100px;
    text-align: center;
}

.link-to-pages a { 
    font-family: 'Dancing Script', cursive;
    color: rgb(212, 5, 74);
    font-size: 23px;
    font-weight: bold;
    text-decoration: none;
    padding: 0 0 0 40px;
    margin-left: 0;
}

.link-to-pages a:hover {
    text-decoration: underline;
    color: #333;
}

#page-logo:hover {
    opacity: 0.6;
}

/* Picture slides */
.slider {
    position: relative;
    height: 50vh;
    margin: 20px 0;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.slide.current {
    opacity: 1;
}

.content {
    position: absolute;
    top: 60%;
    margin-left: 20%;
    width: 280px; 
    font-family: 'Dancing Script', cursive; 
    text-align: center;
    font-size: 1.5rem;
    cursor: pointer;
}

.content a {
    text-decoration: none;
    color: #fff;
    border: 0.5px #333 solid; 
    border-radius: 15px;
    padding: 5px 5px;
    transition: all 0.3s ease-out;
}

.content a:hover {
    color: #333;
    background-color: #fff;
    transition: all 0.3s ease-out;
}

.buttons button#next {
    position: absolute;
    top: 60%;
    right: 15px;
}

.buttons button#prev {
    position: absolute;
    top: 60%;
    left: 15px;
}

.buttons button {
    border: 2px #fff solid;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    padding: 13px 15px;
    border-radius: 50%;
    outline: none;
}

.buttons button:hover {
    background-color: #fff;
    color: #333;
    transition: all 0.3s ease-out;
} 

/* Background images for slides */
.slide:nth-child(1) {
    background: url(./images/slide1.jpg) no-repeat center top/cover;
}

.slide:nth-child(2) {
    background: url(./images/slide2.jpg) no-repeat center center/cover;
}

.slide:nth-child(3) {
    background: url(./images/slide3.jpg) no-repeat center center/cover;
}

/* Intro part */
.intro {
    margin: 30px auto;
}

h1 {
    text-align: center; 
    margin: 30px auto;
    font-family: 'Dancing Script', cursive; 
    color: #03515f;
    font-size: 25px;
}

#about {
    text-align: center; 
    width: 70%;
    margin: 20px auto;
}

/* Main part with recipes */
h2 {
    text-align: center;
    margin: 20px auto;
}

#main-part {
    background-image: none;
    padding: 10px 0 25px 0;
    border-radius: 15px;
}

.recipe-content {
    border-bottom: #333 1px solid;
}

.recipe-picture {
    height: 60%;
    width: 60%;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
    margin-left: 20%;
}

.recipe-picture:hover {
    opacity: 0.8;
    transform: scale(1.1); 
}

h4 {
    text-align: center;
}

/* Subscribe part*/
.subscribe {
    background-image: url(./images/background\ light.jpg);
    padding: 30px 0 60px 15px;
    margin-top: 30px;
}

.subscribe input[type=text] {
    border: 0;
    width: 300px;
    height: 50px;
    font-size: 14px;
    padding: 0 10px;
    border-radius: 15px;
    font-family: 'ABeeZee', sans-serif;
}

.subscribe input[type=submit] {
    border: 0;
    width: 100px;
    height: 50px;
    font-size: 17px;
    background-color: #345995;
    color: white;
    border-radius: 15px;
    transition: all 0.3s ease-out;
    cursor: pointer;
    font-family: 'ABeeZee', sans-serif;
}

.subscribe input[type=submit]:hover {
    background-color: #F46036;
    transition: all 0.3s ease-out;
}

#after-subscribe {
    display: none;
}

/* Footer */
footer{
    text-align: center;
    margin-bottom: 10px;
}

nav a {
    font-size: 20px;
    margin: 20px;
}

.fa-facebook-square {
    background: white;
    color: rgb(26, 18, 18);
}

.fa-instagram-square {
    background: white;
    color: rgb(26, 18, 18);
}

.fa-twitter-square {
    background: white;
    color: rgb(26, 18, 18);
}

.fa-envelope {
    background: white;
    color: rgb(26, 18, 18);
}

/* Make responsive web */
@media (min-width: 768px) {
    /* Header bar  */
    .top-bar {
    display: flex;
    position: sticky;
    top: 0px;
    background-image:url(./images/background\ light.jpg) ;
    height: 70px;
    align-items: center;
    }

    .link-to-pages a { 
        font-family: 'Dancing Script', cursive;
        color: rgb(212, 5, 74);
        font-size: 23px;
        font-weight: bold;
        text-decoration: none;
        padding: 0 40px;
        margin-left: 0;
    }

    .slider {
        position: relative;
        height: 80vh;
        margin: 20px 0;
    }

    .content {
        position: absolute;
        top: 50%;
        margin-left: 39%;
        width: 280px; 
        font-family: 'Dancing Script', cursive; 
        text-align: center;
        font-size: 2rem;
        cursor: pointer;
    }

    .content a {
        text-decoration: none;
        color: #fff;
        border: 0.5px #333 solid; 
        border-radius: 15px;
        padding: 5px 20px;
        transition: all 0.3s ease-out;
    }

    .buttons button#next {
        position: absolute;
        top: 50%;
        right: 15px;
    }
    
    .buttons button#prev {
        position: absolute;
        top: 50%;
        left: 15px;
    }

    .intro {
        margin: 70px auto;
    }
    
    h1 {
        text-align: center; 
        margin: 50px auto;
        font-family: 'Dancing Script', cursive; 
        color: #03515f;
        font-size: 30px;
    }

    #main-part {
        background-image: url(./images/background\ light.jpg);
        padding: 10px 0 25px 0;
        border-radius: 15px;
    }

    .recipe-content {
        display: flex;
        justify-content: space-around;
        border-bottom: none;
    }

    .recipe-picture {
        height: 200px;
        width: 100%;
        border-radius: 15px;
        transition: all 0.3s ease-in-out;
        margin-left: 0;
    }

    h2 {
        text-align: center;
        margin: 70px auto;
    }

    .subscribe {
        background-image: url(./images/background\ light.jpg);
        padding: 30px 0 60px 50px;
        margin-top: 30px;
    }

    .subscribe input[type=text] {
        border: 0;
        width: 350px;
        height: 50px;
        font-size: 14px;
        padding: 0 10px;
        border-radius: 15px;
        font-family: 'ABeeZee', sans-serif;
    }    
}

@media (max-width: 435px) {
    .slider {
        display: none;
    }

    .content {
        display: none;
    }

    .buttons {
        display: none;
    }
}